<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>403 Forbidden</title>
    <style>
        body {
            display: flex;
            height: 95vh;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    </style>
</head>

<body>
    <h1>403 Forbidden</h1>
    <p>This API is only available to localhost</p>
    <p>If you are trying to access the local web GUI, please use the address starts with "127.0.0.1"</p>
</body>
</html>